.globalFooter {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 2px var(--secondaryColor);
  width: 80%;
}

.containerFooter {
  width: 80%;
  margin: 5px auto;
  display: flex;
  justify-content: space-around;
}
.linkRoyalAdmin {
  cursor: pointer;
  transition: 1s;
}
.linkRoyalAdmin:hover,
.linkRoyalAdmin:focus {
  color: var(--mainColor);
  font-weight: bolder;
}
