.textHomeContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  font-family: "Antic Didone", serif;

  border: solid 2px var(--secondaryColor);
  border-radius: 1em;
}
.titleTextHome {
  margin-top: 15px;
  font-size: 1.5em;
}
.textHome {
  margin-top: 15px;
  font-size: 1em;
  text-align: justify;
}

.signRoyal {
  font-family: "Great Vibes", cursive;
  font-size: 1.4em;
  text-align: right;
  margin-top: 15px;
}

.contentHomePageContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 30px auto;
}

.cardsLinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  width: 40%;
}
.cardsLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33%;
  border-radius: 1em;
  border: solid 3px goldenrod;
  cursor: pointer;
  background: var(--mainColor);
  color: var(--accentColor);
  font-family: "Antic Didone", serif;
  font-size: 0.8em;
  letter-spacing: 3px;
  margin-bottom: 25px;
  text-align: center;
}
.cardsLinkLast {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33%;
  border-radius: 1em;
  border: solid 3px goldenrod;
  cursor: pointer;
  background: var(--mainColor);
  color: var(--accentColor);
  font-family: "Antic Didone", serif;
  font-size: 0.8em;
  letter-spacing: 3px;
  text-align: center;
}

@media only screen and (max-width: 780px) {
  .textHomeContainer {
    width: 95%;
  }

  .contentHomePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .cardsLinkContainer {
    width: 100%;
    margin: 60px auto;
  }
  .cardsLink {
    padding: 15px;
  }
  .cardsLinkLast {
    padding: 15px;
  }
}
