.textHomeContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  font-family: "Antic Didone", serif;

  border: solid 2px var(--secondaryColor);
  border-radius: 1em;
}
.titleTextHome {
  margin-top: 15px;
  font-size: 1.5em;
}
.textHome {
  margin-top: 15px;
  font-size: 1em;
}

.signRoyal {
  font-family: "Great Vibes", cursive;
  font-size: 1.4em;
  text-align: right;
  margin-top: 15px;
}

.contentHomePageContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

.cardsLinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-right: auto; */
  margin-left: auto;
  width: 40%;
}
.cardsLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33%;
  border-radius: 1em;
  border: solid 3px goldenrod;
  cursor: pointer;
  background: var(--mainColor);
  color: var(--accentColor);
  font-family: "Rowdies", cursive;
  font-size: 1.2em;
  letter-spacing: 3px;
  margin-bottom: 25px;
}
.cardsLinkLast {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33%;
  border-radius: 1em;
  border: solid 3px goldenrod;
  cursor: pointer;
  background: var(--mainColor);
  color: var(--accentColor);
  font-family: "Rowdies", cursive;
  font-size: 1.2em;
  letter-spacing: 3px;
}
