.jokeContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 50px auto 300px;
  background: var(--mainColor);
  padding: 2em;
  border-radius: 2em;
}

.titlePageJoke {
  font-family: "Antic Didone", serif;
  margin-top: 15px;
  font-size: 1.5em;
  text-align: center;
  color: var(--mainColor);
}

.textPageJoke {
  font-family: "Antic Didone", serif;
  width: 80%;
  margin: 10px auto 5px;
  font-size: 1em;
  text-align: justify;
  color: var(--mainColor);
}

.titleJoke {
  font-family: "Rowdies", cursive;
  margin-top: 15px auto;
  font-size: 1.2em;
  text-align: center;
  color: var(--tertiaryColor);
}
.contentJoke {
  font-family: "Antic Didone", serif;
  width: 80%;
  margin: 10px auto 5px;
  font-size: 1em;
  text-align: justify;
  color: var(--accentColor);
}

.responseJoke {
  font-family: "Rowdies", cursive;
  width: 80%;
  margin: 10px auto 5px;
  font-size: 1em;
  text-align: justify;
  color: var(--tertiaryColor);
}

.textHidden {
  color: var(--mainColor);
  cursor: pointer;
  border: 2px solid var(--tertiaryColor);
  padding: 5px;
  text-align: center;
  transition: 0.8s;
  border-radius: 1em;
}
.textHidden:hover {
  color: var(--accentColor);
}

.textResponse {
  display: flex;
  flex-direction: column;
  color: var(--accentColor);
}

.btnContainer {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 100%;
}
.btnFetch {
  color: var(--mainColor);
  background: var(--secondaryColor);
  margin: 20px auto;
  width: 50%;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 1em;
  border: none;
  transition: 0.5s;
}
.btnFetch:hover {
  background: goldenrod;
  color: var(--mainColor);
  border: none;
}

.fakeBtn {
  color: orangered;
  background: var(--mainColor);
  margin: 20px auto;
  width: 50%;
  border: none;
  font-size: 0.8em;
  border-radius: 1em;
  cursor: pointer;
}

.fakeBtn:hover {
  background: var(--mainColor);
  color: var(--mainColor);
  border: none;
  cursor: none;
}

@media only screen and (max-width: 780px) {
  .jokeContainer {
    width: 95%;
  }
  .textPageJoke {
    width: 85%;
  }

  .contentJoke {
    width: 95%;
  }

  .responseJoke {
    width: 95%;
  }
  .btnFetch {
    width: 95%;
  }
}
