.logoContainer {
  height: 90px;
  width: 90px;
  background: var(--quarternaryColor);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--mainColor);
  margin: 15px 40px;
  border: solid 5px goldenrod;
  cursor: pointer;
}

.txtLogo {
  color: goldenrod;
  font-family: "Rowdies", cursive;
}
