.carousselContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  background: var(--mainColor);
  border-radius: 1em;
  border: solid 3px var(--mainColor);
  overflow: hidden;
}

.photoCaroussel {
  border-radius: 1em 1em 0 0;
}

@media only screen and (max-width: 780px) {
  .carousselContainer {
    width: 100%;
  }
}
